Package: com.supremeinspirit.hipcharge
Name: HIPCharge
Version: @VERSION@
Architecture: iphoneos-arm64
Description: Enables Simulate HIP while charging, disables it when unplugged.
Maintainer: supremeinspirit
Author: supremeinspirit
Section: Tweaks
Depends: firmware (>= 15.0)
